/* IBIS - Custom styles */

.ibis_conversation .type_topic{
	background: url(map_sm.png) no-repeat;
	padding-left:20px;
}

.ibis_conversation .type_issue{
	/*background:#FFCC98;*/
	background: url(issue_sm.png) no-repeat;
	padding-left:20px;
}

.ibis_conversation .type_position{
	/*background:#98D3FF;*/
	background: url(position_sm.png) no-repeat;
	padding-left:20px;
}

.ibis_conversation .type_supporting_argument{
	/*background:#98FF98;*/
	background: url(plus_sm.png) no-repeat;
	padding-left:20px;
}

.ibis_conversation .type_opposing_argument{
	/*background:#FF9898;*/
	background: url(minus_sm.png) no-repeat;
	padding-left:20px;
}

.ibis_type option{
	vertical-align: middle;
	padding: 2px 0 2px 20px;
}

.ibis_type .issue{
	background: url(issue_sm.png) no-repeat;
}

.ibis_type .position{
	background: url(position_sm.png) no-repeat;
}
.ibis_type .supporting_argument{
	background: url(plus_sm.png) no-repeat;
}

.ibis_type .opposing_argument{
	background: url(minus_sm.png) no-repeat;
}

.ibis_conversation .ibis_title{
	padding-right:5px;
}
.ibis_conversation .ibis_parent{
	margin-bottom:10px;
}
.ibis_conversation .ibis_main{
	padding:5px;
}
.ibis_conversation lh{
	font-weight:bold;
}

.ibis_title{
	width:99.4%;
}
.cke_editor iframe{
	height:150% !important;
}